
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

.App {
  text-align: center;
  background-color: #003B49;
  min-height: 100vh;
}

.App-header {
  
  font-size: calc(10px + 2vmin);
  color: #40C1AC;
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
}

.navbar {
  position: fixed;
  top:0;
  z-index:1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 0rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color:white;
}

.navbar ul li a:hover {
  color: skyblue;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem
}

section p {
  font-size: 1.5rem;
}

/*.title {
  color:white;
  display: flex;
  margin-left:6rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  



}*/

/*description h4 {
  color:white;
  display: flex;
  font-size: 2rem;
  max-width: 30rem;
  margin-left: 6rem;
  text-align: justify;
  float: left;
  font-family: 'Lato', sans-serif;


} */

/*h4 {
  animation-duration: 2s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 300%;
    width: 100%; 
    text-align: justify;
    float: left;
    display: flex;
  }

  75% {
    margin-left: 6rem;
    width: 100%;
  }

  to {
    margin-left: 6rem;
    width: 100%;
    text-align: justify;
    float: left;
    display: flex;
  }
}

.box2 {
  background: #40C1AC;
} */



